<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>

    <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid Username or Password</div>
    </div>

    <form method="post" th:action="@{/login}">
        <input type="text" name="username" maxlength="64" required />
        <input type="password" name="password" maxlength="64" required />
        <button type="submit">Login</button>
    </form>

    <h3><a th:href="@{/register}">Register</a></h3>
</body>
</html>
